@using VeXemPhim.Models
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rạp Phim</title>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!--font awesome icon-->
    <script src="https://kit.fontawesome.com/a858033a2a.js" crossorigin="anonymous"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--các file css tự định nghĩa-->
    <link rel="stylesheet" href="/Content/css/layout.css">
    <link rel="stylesheet" href="/Content/css/login.css">
    <!--Thêm jquery và bắt sư kiện cho slide-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/Content/js/JQuery3.3.1.js"></script>


</head>
<body>
    

    <section>
        <img src="/Content/img/pexels-adrien-olichon-3709369.jpg" class="img-header" alt="">
        <div class="container">
            <h1>ĐĂNG NHẬP</h1>

            <div class="form-login">

                @using (Html.BeginForm("Dangnhap", "Login"))
                {
                    
                    <div>Số điện thoại hoặc Email</div>
                    <input name="txtEmail" type="text">
                    <div>Mật khẩu</div>
                    <input name="txtMatkhau" type="text">
                    <div><a>Quên mật khẩu</a></div>


                    <input value="Đăng nhập" type="submit" id="btnDangnhap">


                }
            </div>

        </div>

    </section>
    
    <script>

    </script>
</body>
</html>

