
@{
    ViewBag.Title = "Lichchieu";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rạp Phim</title>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!--font awesome icon-->
    <script src="https://kit.fontawesome.com/a858033a2a.js" crossorigin="anonymous"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--các file css tự định nghĩa-->
    <link rel="stylesheet" href="/content/css/layout.css">
    <link rel="stylesheet" href="/content/css/LichChieu.css">
    <link rel="stylesheet" href="/content/css/lightslider.css">
    <!--Thêm jquery và bắt sư kiện cho slide-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/content/js/JQuery3.3.1.js"></script>
    <script type="text/javascript" src="/content/js/lightslider.js"></script>


</head>
<body>
    
    <section id="header">
        <img src="/content/img/background-header.jpg" class="img-header" alt="">
        <div class="LuaChonLichChieu">
            <div class="item-LuaChon" onclick="openTab(event , 1)" id="defautOpen">
                <div class="icon-lichchieu">
                    <i class="fas fa-film"></i>
                </div>
                <span>Lịch Chiếu theo phim</span>
            </div>
            <div class="item-LuaChon" onclick="openTab(event , 2)">
                <div class="icon-lichchieu">
                    <i class="fas fa-hotel"></i>
                </div>
                <span>Lịch Chiếu theo rạp</span>
            </div>
            <div class="item-LuaChon" onclick="openTab(event , 3)">
                <div class="icon-lichchieu">
                    <i class="far fa-clock"></i>
                </div>
                <span>Lịch Chiếu theo ngày</span>
            </div>

        </div>
        <div class="container">
            <div class="tab-content LichChieuTheoPhim container ">
                <h1>Lịch chiếu theo phim</h1>
                <div class="slide">

                    <!--slider------------------->
                    <ul id="autoWidth" class="cs-hidden">
                        <!--1------------------------------>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">
                                <img class="box-img" src="/content/img/img-slide1.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>

                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide2.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>



                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide3.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>



                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide4.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>



                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide5.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>



                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide6.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>



                            </div>
                        </li>
                        <li class="item-a">
                            <!--slider-box-->
                            <div class="box">

                                <img class="box-img" src="/content/img/img-slide7.jpg" alt="">
                                <div class="chi-tiet-phim">
                                    <div class="box-dong1">
                                        <div class="box-tuoi">16</div>
                                        <div class="box-Ten">BTS: TÂM TƯ CẤT LỜI </div>
                                    </div>
                                    <div class="box-dong2">
                                        <SPan class="box-time">94 phút  |   </SPan>
                                        <span class="box-date">10/09/2020</span>
                                    </div>

                                </div>


                            </div>
                        </li>




                    </ul>




                </div>
            </div>
            <div class="LichChieuTheoRap tab-content">
                <h1>Lịch chiếu theo rạp</h1>
                <div class="container-Rap">
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD Star Bitexco</h3>
                        <span>Tang 3 & 4, TTTM ICON 68, 2 Hai Trieu, Quan 1,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                    <div class="ChiTietRap">
                        <h3>BHD star 3.2</h3>
                        <span>Tang 5, Sieu Thi Vincom 3/2, 3C Duong 3/2, Quan 10,TP.HCM</span>
                        <button>Chi Tiết</button>
                    </div>
                </div>

            </div>
            <div class="LichChieuTheoNgay tab-content">
                <h1>Lịch chiếu theo ngày</h1>
                <div class="container-LichNgay">
                    <input type="date">
                </div>
                <div class="container-infoPhim">
                    <img src="/content/img/img-slide6.jpg" alt="">
                    <div class="info-Phim">
                        <div class="name-info">Thảm họa thiên thạch</div>
                        <div><span>Đạo diễn:</span> Alban Tryggve</div>
                        <div>Diễn viên: Ric Roman Waugh</div>
                        <div>Xuất xứ: Mỹ</div>
                        <div><span>Đánh giá: 8.2 </span><i class="fas fa-star"></i></div>
                        <div class="icon-infoPhim">
                            <div><i class="fas fa-calendar-alt To-Do"></i> <span>15.09.2020</span></div>
                            <div><i class="far fa-clock To-Do"></i> 120 phút</div>
                            <div><i class="fas fa-film To-Do"></i> Phim viễn tưởng</div>
                        </div>
                        <div class="btn-MuaVe-Trailer">
                            <div class="btn-Muave"><a href="#">Xem trailer</a></div>
                            <div class="btn-Trailer"><a href="#">Mua vé</a></div>
                        </div>
                    </div>
                    <div class="Gio-Chieu">
                        <div>09:20</div>
                        <div>10:00</div>
                        <div>12:05</div>
                        <div>13:00</div>
                        <div>14:10</div>
                        <div>16:20</div>
                        <div>18:25</div>
                        <div>21:40</div>
                        <div>22:30</div>

                    </div>
                </div>
                <div class="container-infoPhim">
                    <img src="/content/img/img-slide7.jpg" alt="">
                    <div class="info-Phim">
                        <div class="name-info">Thảm họa thiên thạch</div>
                        <div><span>Đạo diễn:</span> Alban Tryggve</div>
                        <div>Diễn viên: Ric Roman Waugh</div>
                        <div>Xuất xứ: Mỹ</div>
                        <div><span>Đánh giá: 8.2 </span><i class="fas fa-star"></i></div>
                        <div class="icon-infoPhim">
                            <div><i class="fas fa-calendar-alt To-Do"></i> <span>15.09.2020</span></div>
                            <div><i class="far fa-clock To-Do"></i> 120 phút</div>
                            <div><i class="fas fa-film To-Do"></i> Phim viễn tưởng</div>
                        </div>
                        <div class="btn-MuaVe-Trailer">
                            <div class="btn-Muave"><a href="#">Xem trailer</a></div>
                            <div class="btn-Trailer"><a href="#">Mua vé</a></div>
                        </div>
                    </div>
                    <div class="Gio-Chieu">
                        <div>09:20</div>
                        <div>10:00</div>
                        <div>12:05</div>
                        <div>13:00</div>
                        <div>14:10</div>
                        <div>16:20</div>
                        <div>18:25</div>
                        <div>21:40</div>
                        <div>22:30</div>

                    </div>
                </div>
                <div class="container-infoPhim">
                    <img src="/content/img/img-slide5.jpg" alt="">
                    <div class="info-Phim">
                        <div class="name-info">Thảm họa thiên thạch</div>
                        <div><span>Đạo diễn:</span> Alban Tryggve</div>
                        <div>Diễn viên: Ric Roman Waugh</div>
                        <div>Xuất xứ: Mỹ</div>
                        <div><span>Đánh giá: 8.2 </span><i class="fas fa-star"></i></div>
                        <div class="icon-infoPhim">
                            <div><i class="fas fa-calendar-alt To-Do"></i> <span>15.09.2020</span></div>
                            <div><i class="far fa-clock To-Do"></i> 120 phút</div>
                            <div><i class="fas fa-film To-Do"></i> Phim viễn tưởng</div>
                        </div>
                        <div class="btn-MuaVe-Trailer">
                            <div class="btn-Muave"><a href="#">Xem trailer</a></div>
                            <div class="btn-Trailer"><a href="#">Mua vé</a></div>
                        </div>
                    </div>
                    <div class="Gio-Chieu">
                        <div>09:20</div>
                        <div>10:00</div>
                        <div>12:05</div>
                        <div>13:00</div>
                        <div>14:10</div>
                        <div>16:20</div>
                        <div>18:25</div>
                        <div>21:40</div>
                        <div>22:30</div>

                    </div>
                </div>
                <div class="container-infoPhim">
                    <img src="/content/img/img-slide4.jpg" alt="">
                    <div class="info-Phim">
                        <div class="name-info">Thảm họa thiên thạch</div>
                        <div><span>Đạo diễn:</span> Alban Tryggve</div>
                        <div>Diễn viên: Ric Roman Waugh</div>
                        <div>Xuất xứ: Mỹ</div>
                        <div><span>Đánh giá: 8.2 </span><i class="fas fa-star"></i></div>
                        <div class="icon-infoPhim">
                            <div><i class="fas fa-calendar-alt To-Do"></i> <span>15.09.2020</span></div>
                            <div><i class="far fa-clock To-Do"></i> 120 phút</div>
                            <div><i class="fas fa-film To-Do"></i> Phim viễn tưởng</div>
                        </div>
                        <div class="btn-MuaVe-Trailer">
                            <div class="btn-Muave"><a href="#">Xem trailer</a></div>
                            <div class="btn-Trailer"><a href="#">Mua vé</a></div>
                        </div>
                    </div>
                    <div class="Gio-Chieu">
                        <div>09:20</div>
                        <div>10:00</div>
                        <div>12:05</div>
                        <div>13:00</div>
                        <div>14:10</div>
                        <div>16:20</div>
                        <div>18:25</div>
                        <div>21:40</div>
                        <div>22:30</div>

                    </div>
                </div>
            </div>


        </div>
        <div class="PhimSapChieu ">
            <h1>Phim sắp ra mắt tháng 12</h1>
            <div class="container">
                <img src="/content/img/phim-thang-12-.jpg" alt="">
                <img src="/content/img/phim_20191129095037.jpg" alt="">
                <img src="/content/img/phim-chieu-rap-thang-2-2019.jpg" alt="">
            </div>
            <button>Xem thêm...</button>
        </div>
        <h1>Khuyến mãi / Sự kiện</h1>
        <div class="KhuyenMai-SuKien container">

            <div class="Khoi-slide">
                <div class="slide active"><img src="/content/img/khuyenmai2.jpg " alt=""></div>
                <div class="slide"><img src="/content/img/khuyenmai1.jpg" alt=""></div>
                <div class="slide"><img src="/content/img/khuyenmai4.jpg" alt=""></div>
            </div>
            <div class="Nut-slide">
                <span id="btn-prev"><i class="fas fa-chevron-left nut-trai"></i></span>
                <span id="btn-next"><i class="fas fa-chevron-right nut-phai"></i></span>
            </div>
            <ul>
                <li class="nut-active"></li>
                <li></li>
                <li></li>
            </ul>

        </div>
    </section>
    
    <script src="/content/js/LichChieu.js" type="text/javascript"></script>
    <script src="/content/js/script-slide.js" type="text/javascript"></script>
   
    <script>

    </script>
</body>
</html>

